global
    stats socket /etc/haproxy/haproxysock level admin

defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000


# Configuracion HA Tomcat.

frontend tomcat-service
        bind *:8080
        default_backend tomcat-service
        mode http

backend tomcat-service
        balance leastconn
        cookie SERVERID insert indirect nocache
        option httpchk GET /hcesp/servlet/com.hpol.hce.wwinicio
        server "{{ server1 }}"
        server "{{ server2 }}"

listen stats
        bind *:5000
        stats enable
        stats hide-version
        stats show-node
        stats uri /stats
        stats auth admin:admin
        stats refresh 5s
